<!-- Begin Cronograma Section -->
<section id="cronograma" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>Cronograma</h3>
      <h4>08/12/2017</h4>
      <p>Jantar: 18h:30min às 19h:30min<br>
        Abertura CEOD: 20h<br></p>
      <h4>09/12/2017</h4>
      <p>Café da manhã: 07h às 08h<br>
Assembleia Estadual: 09h:30min<br>
Almoço: 12h às 13h:30min<br>
Atividade: 14h as 16h<br>
Assembléia Alumni PI: 16h às 17h<br>
Torneio de Ritualística: 16h às 17h<br>
Jantar: 18h às 19h<br>
Encerramento: 19h:30min<br>
Grau de Cavaleiro da Cadência: 23h<br></p>
      <h4>10/12/2017</h4>
      <p>Café da manhã e despedida das comitivas: 06h às 07h<br></p>
		</div>
	</div>
</section>
<!-- End Cronograma Section -->
